// Grand Central Station

@import 'google-homepage';

$bg0 : #31572c;
$bg1 : #f7dba7;
$bg2 : #ca3c25;


.bg0 {
  background: $bg0;
}

.bg1 {
  background: $bg1;
}

.bg2 {
  background: $bg2;
}

#spiderwebs {
    padding-top: 4em;
}

#pumpkin1,
#pumpkin2 {
    
}